<div class="event-card">
  <a href="{{ link }}">
    <img src="{{ image }}" alt="{{ title }}">
    <div class="event-info">
      <h3>{{ title }}</h3>
      <p>{{ date }} | {{ location }}</p>
    </div>
  </a>
</div>
